<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>BSA Troop 838 Morrow OH</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <image src="/img/header.png">
      </header>

      <div id="banner">
<ul>
	<li><a class="button" href="about.html">About</a></li>
	<li><a class="button" href="calendar.html">Calendar</a></li>
	<li><a class="button" href="oureagles.html">Our Eagles</a></li>
	<li><a class="button" href="photos.html">Photos</a></li>
	<li><a class="button" href="contactus.html">Contact Us</a></li>
	<li><a class="button" href="howtojoin.html">How To Join</a></li>
	<li><a class="button" href="facebook.html">Facebook</a></li>
	<li><a class="button" href="religiousawards.html">Religious Awards</a></li>
	<li><a class="button" href="morrowumc.html">Morrow UMC</a></li>
</ul>
      </div><!-- end banner -->

    <div class="wrapper">
      <section>
	      <table>
		      <tr>
			      <td>
        {{ content }}
			      </td>
			      <td width=470px>
        <p>
		What Every Scout Should Know:
	</p>
	<p>
		Scout Oath:<br>
“On my honor, I will do my best<br> 
To do my duty to God and my country and to obey the Scout Law;<br>
To help other people at all times;<br>
To keep myself physically strong, mentally awake, morally straight.”<br>
	</p>
	<p>
		 Scout Law:<br>
“A Scout is Trustworthy, Loyal, Helpful, Friendly, Courteous, Kind, Obedient, Cheerful , Thrifty, Brave, Clean, Reverent.”
	</p>
	<p>
		Outdoor Code:<br>
“As an American I will do my best to: <br>
   Be clean in my outdoor manners.<br>
   Be careful with fire.<br>
   Be considerate in the outdoors.<br>
   Be conservation minded.”<br>
	</p>
	<p>
		Scout Motto:<br>
“Be prepared!”<br>
	<br>
Scout Slogan”<br>
“Do a good turn daily!”
	</p>
			      </td>
		      </tr>
	      </table>
            </section>


	    
<footer>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
